body {
    margin: 0; 
    background-image: url(/Imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}   

.topbar {
    background-color: rgb(94, 248, 107);
    width: 100%;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
}

.links {
    margin-left: 55px;
    color: rgb(14, 37, 16);
    text-decoration: none;
}

.textbox {
    background-color: rgb(94, 248, 107);
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 15px; padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

@media only screen and (max-width: 600px) {
    /*mobile screens*/

    body {
    margin: 0%; 
    background-image: url(/Imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}   

.topbar {
    background-color: rgb(94, 248, 107);
    width: 100%;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
}

.links {
    margin-left: 5%;
    color: rgb(14, 37, 16);
    text-decoration: none;
}

.textbox {
    background-color: rgb(94, 248, 107);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    margin-top: 25%;
    margin-bottom: 10%;
    padding-left: 5%; padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

}